<div class="flex flex-col centered">
  <span>Sign in</span>
  <input class="input" name="login"></input>
  <input class="input" name="password"></input>
  <button class="button button-primary">Sign in</button>
  <a href="signup">Sing up</a>
</div>