<div class="flex flex-col centered">
  <span>Sign up</span>
  <input class="input" name="first_name" ></input>
  <input class="input" name="second_name"></input>
  <input class="input" name="login"></input>
  <input class="input" name="email"></input>
  <input class="input" name="password"></input>
  <input class="input" name="phone"></input>
  <button class="button button-primary">Sign up</button>
</div>