<div class="flex flex-col centered form">
  <span>Sign up</span>
  <form>
    <div class="input-container">
      <input type="text" id="first_name" name="first_name" required/>
      <label for="first_name">First name</label>
    </div>
    <div class="input-container">
      <input type="text" id="second_name" name="second_name" required/>
      <label for="second_name">Second name</label>
    </div>
    <div class="input-container">
      <input type="text" id="login" name="login" required/>
      <label for="login">Login</label>
    </div>
    <div class="input-container">
      <input type="text" id="email" name="email" required/>
      <label for="email">Email</label>
    </div>
    <div class="input-container">
      <input type="password" id="password" name="password" required/>
      <label for="password">Password</label>
    </div>
    <div class="input-container">
      <input type="text" id="phone" name="phone" required/>
      <label for="phone">Phone</label>
    </div>
    <button class="button button-primary" type="submit">Sign up</button>
  </form>
</div>
