{{{page}}}

<ul class="mock-nav">
  <li>
    <a href="#">Landing</a>
  </li>
  <li>
    <a href="#signup">Signup Page</a>
  </li>
  <li>
    <a href="#signin">Signin Page</a>
  </li>
  <li>
    <a href="#settings">Settings</a>
  </li>
  <li>
    <a href="#404">404</a>
  </li>
  <li>
    <a href="#500">500</a>
  </li>
</ul>
