.input {
  width: 280px;
  padding: 8px;
  margin: 16px 0;
  background: $bg-color;
  border-radius: $border-radius;
  border: none;
  &-long {
    width: 100%;
    margin: 10px;
  }
}

.input-container {
  width: 280px;
  height: 50px;
  position: relative;
  margin: 8px;
  background-color: $bg-color;
  border-radius: $border-radius;
}

label {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  user-select: none;
  font-size: 8px;
}

input {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  background: transparent;
  transition: border 500ms;
  border: none;
  outline: none;
}

input:focus + label {
  color: $primary;
}

input:invalid {
  border: $error solid 3px;
  border-radius: $border-radius;
}

